<div class="wrapper">
    
    <div class="jumbotron justify-content-center">
    
    <h1 class="title display-4 text-center my-2">Eat-Da-Burger!</h1>
    
    {{!-- Burger Header Image --}}
    <img class="burgerImg" src="/assets/images/burger.png" alt="Giant Burger">


    <h3 class="text-center my-4">What kind of burger would you like?</h3>
    
    <form class="create-form text-center">

    <div class="formBurger form-group justify-content-center text-center mx-auto col-6">
        <textarea class="form-control" id="burger-name" name="burger_name" rows="1"></textarea>
        {{!-- <input type="text" id="burger-name" name="burger_name" rows="3"> --}}
    </div>

    <button type="submit" class="btn add-btn">Order Burger</button>
    </form>
</div>

<div class="burgerOrder">

    {{!-- Burgers not eaten --}}
    <div class="ordered">
    <h3>Added to Order</h3>
        <div class= "toEat">
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
            {{/unless}}
        {{/each}}
        </div>
    </div>

    {{!-- Burgers eaten --}}
    <div class="devoured">
    <h3 >Devoured</h3>

        <div>
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger-block-delete devoured=true}}
            {{/if}}
        {{/each}}
        </div>
    </div>

</div>

</div>