body {
    background-image: url(../images/food.png);
    background-repeat: repeat;
}

.wrapper {
    overflow: auto;
    padding-bottom: 5em;
}

.jumbotron {
    background-color: #0c1218;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

h3 {
    color: #0c1218;
    margin-top: 1em;
}

textarea,
#burger-name {
    text-align: center;
    font-size: 2em;
}

.burgerImg {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-btn {
    background-color: #E69138;
    color: #fff;
}

.burgerOrder {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20em;
}

.ordered {
    width: 50%;
    float: left;
}

.getDevoured {
    margin: 1.5em 5% 0 0;
    border: 0px none;
    background-color: #0961c5;
    color: #fff;
    border-radius: 3px;
    padding: .5em 5%;
}

.devoured {
    width: 50%;
    float: left;
}

.getDelete {
    margin: 1.5em 2% 0 0;
    border: 0px none;
    background-color: #0961c5;
    color: #fff;
    border-radius: 3px;
    padding: .5em 5%;
}